body {
    text-align: center;
}

#message {
    display: none;
    font-family: "Cookie", cursive;
    color: #bd7635;
    font-size: 25px;
}

.modal {
    height: 100%;
    max-width: 100%;
}

.imageCenter
{
    margin: 0px auto;
}

#textAlign {
	text-align: start;
}